<!DOCTYPE html>
    <head>
        <title>HR Analytics: Employee Promotion Data</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>
    <body>

        <div class="p-3 bg-image" style="background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');height: 200px;"></div>

        <div class="card mx-4 mx-md-5 shadow-4-strong" 
            style="margin-top: -100px;
                background: hsla(0, 0%, 100%, 0.8);
                backdrop-filter: blur(30px);">
            <div class="card-body py-4 px-md-4">

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6">
                        <h2 class="fw-bold mb-5">HR Analytics: Employee Promotion</h2>
                        <form action="predicao" method="POST">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label for="age" class="form-label">Age</label>
                                        <input type="number" min="1" max="100" name="age" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label for="length_of_service" class="form-label">Length of service</label>
                                        <input type="number" min="0" max="100" name="length_of_service" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label for="awards_won" class="form-label">Awards won</label>
                                        <input type="number" min="0" name="awards_won" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label for="avg_training_score" class="form-label">Avg training score</label>
                                        <input type="number" min="0" name="avg_training_score" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label for="department" class="form-label">Department</label>
                                        <select name="department" class="form-control" >
                                            <option value="0">HR</option>
                                            <option value="1">Finance</option>
                                            <option value="2">Analytics</option>
                                            <option value="3">Legal</option>
                                            <option value="4">Sales & Marketing</option>
                                            <option value="5">Technology</option>
                                            <option value="6">Procurement</option>
                                            <option value="7">Operations</option>
                                            <option value="8">R&D</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label for="region" class="form-label" >Region</label>
                                        <input type="number" name="region" min="0" max="33" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label for="previous_year_rating" class="form-label">Previous year rating</label>
                                        <select name="previous_year_rating" class="form-control">
                                            <option value="0">1.0</option>
                                            <option value="1">2.0</option>
                                            <option value="2">3.0</option>
                                            <option value="3">4.0</option>
                                            <option value="4">5.0</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">                             
                                        <label for="education" class="form-label">Education</label>
                                        <select name="education" class="form-control">
                                            <option value="0">Below Secondary</option>
                                            <option value="1">Master's & above</option>
                                            <option value="2">Bachelor's</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-secondary btn-block my-4" type="submit" >Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>